

<section class=" is-primary is-bold is-fullheight">
<div class="hero-body" role="alert">
<div class="container has-text-centered" >

<h1 class="title">
  AdYorker Traceability

</h1>
<h3 class="mat-subheading-1 accent-color" color="accent">
  <p>
  Trace food products in their supply chain using Blockchain technology, Share transparent food product data with everyone.
  Use Blockchain’s immutable ledger technology track food supply chains and maintain food safety measures. Every person in the supply chain lifecycle is responsible to store product information in every step of the product’s way from farm to retail store.
  Find outbreak products (origin, batch, version)  in seconds by quickly scanning the product and tracing its origin. Ensure quality standards are met.
  </p>
  <p>
    Consumers can access transparent and reliable information on product origin, carbon footprint, ethically sourced, transportation information, storage temperature, product certifications, how food products were farmed, packed and their journey to the retail store.
  Consumers can easily scan QR code of the product using their mobile phone to get product information listed in the browser.
  Helps increase customer satisfaction and faith in the product, brand.
  </p>

</h3>

</div>

</div>

</section>




